@theme-link-color: '#409EFF';
@theme-primary-color: '#303133';

body {
  margin: 0;
  color: @theme-primary-color;
  font-size: 14px;
  background: #f4f5f5;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.clear-float:after{
  clear: both;
  content: '';
  display: block;
}

.theme-color {
  color: @theme-link-color;
}

.el-button--text {
  color: inherit;
}
